version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
      day: tuesday
      time: "10:00"
      timezone: America/New_York
    reviewers:
      - "Shopify/sorbet"
