/**/.bundle/
/**/.yardoc
/**/_yardoc/
/**/coverage/
/**/doc/
/**/pkg/
/**/spec/reports/
/**/tmp/
/**/.dev/
/docs
/sorbet/cache

vscode/out
vscode/dist
vscode/node_modules
vscode/.vscode-test/
vscode/*.vsix
vscode/*.log
