.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.*
**/*.map
**/*.ts
node_modules
out/**
!out/extension.js
.prettierignore
*.vsix
extras/**
pnpm-lock.yaml
.npmrc
.pnpm-store/**
.ruby-lsp/**
