name: Publish docs

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'Shopify/ruby-lsp'
    name: Publish documentation website
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2 # `bundle exec rake rdoc` fails on 3.3.0
          bundler-cache: true

      - name: Configure git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Generate documentation
        run: bundle exec rake rdoc

      - name: Copy README images to the docs folder
        run: |
          mkdir docs/vscode
          cp vscode/icon.png docs/vscode/icon.png
          cp -R vscode/extras docs/vscode/

      - name: Commit to gh-pages
        run: |
          git add docs -f
          git commit -m "Publish website $(git log --format=format:%h -1)"
          git push --force origin main:gh-pages
